<div>
    <img src="/personality.jpg" alt="Nature" class="left" width="500" height="700"/>
</div>

<div class="home">
  <h1>Personality Test</h1>

  <div class="home-h1">
    <h3>Are you an introvert, an extrovert or an ambivert?</h3>
  </div>
</div>
<div class="btn-container">
  <a class="button" href="/signin">Sign In</a>
  <a class="button" href="/signup">Sign Up</a>
</div>