<div>
  <h2>You feel more yourself when you're:</h2>
    <ol type="A">
      <li>The center of attention</li>
      <li>In the background</li>
    </ol>
</div>

<div>
<form action="/recharge/9" method="post">
  <label for="recharge">Enter A or B:</label>
  <input name="recharge" placeholder="" type="text" value="<%= params[:recharge] %>">
  <button type="submit">Submit</button>
</form>
</div>

<div><%= session[:recharge] %></div>