<div>
  <h2>The people who know you best are more likely to describe you as someone who's:</h2>
    <ol type="A">
      <li>Outgoing and talkative</li>
      <li>Quiet and reflective</li>
    </ol>
</div>

<div>
<form action="/recharge/10" method="post">
  <label for="recharge">Enter A or B:</label>
  <input name="recharge" placeholder="" type="text" value="<%= params[:recharge] %>">
  <button type="submit">Submit</button>
</form>
</div>