<div>
  <h2>You would hate working with someone who's:</h2>
    <ol type="A">
      <li>Brash and overbearing</li>
      <li>Timid and meek</li>
    </ol>
</div>

<div>
<form action="/recharge/4" method="post">
  <label for="recharge">Enter A or B:</label>
  <input name="recharge" placeholder="" type="text" value="<%= params[:recharge] %>">
  <button type="submit">Submit</button>
</form>
</div>


<div><%= session[:recharge] %></div>