<div>
  <h2>You're more likely to recharge your batteries by:</h2>
    <ol type="A">
      <li>Going out with a group of friends</li>
      <li>Getting some alone time</li>
    </ol>
</div>

<div>
<form action="/recharge/8" method="post">
  <label for="recharge">Enter A or B:</label>
  <input name="recharge" placeholder="" type="text" value="<%= params[:recharge] %>">
  <button type="submit">Submit</button>
</form>
</div>