<div>
  <h2><%= title(@number) %></h2>
    <ol type="A">
      <li><%= first_choice(@number) %></li>
      <li><%= second_choice(@number) %></li>
    </ol>
</div>

<div>
<form action="/quiz/<%= @number %>" method="post">
  <label for="quiz">Enter A or B:</label>
  <input name="quiz" placeholder="" type="text" value="">
  <button type="submit">Submit</button>
</form>
</div>