<div>
  <h2>You usually get more joy out of:</h2>
    <ol type="A">
      <li>Watching a great movie</li>
      <li>Reading a great book</li>
    </ol>
</div>

<div>
<form action="/recharge/6" method="post">
  <label for="recharge">Enter A or B:</label>
  <input name="recharge" placeholder="" type="text" value="<%= params[:recharge] %>">
  <button type="submit">Submit</button>
</form>
</div>