<div>
  <h2><%= @question %>:</h2>
</div>

<form action="/quiz/<%= @number %>" method="post">
  <fieldset>
    <ol type="A">
      <li>
        <label>
          <input type="radio" name="choice" value="A">
          <%= @answer1 %>.
        </label>
      </li>

      <li>
        <label>
          <input type="radio" name="choice" value="B">
          <%= @answer2 %>.
        </label>
      </li>
    </ol>
    <button type="submit">Submit</button>
  </fieldset>
</form>