<div>
  <h2>In general, which of the two are you more likely to feel:</h2>
    <ol type="A">
      <li>Overwhelmed and overstimulated</li>
      <li>Bored and understimulated</li>
    </ol>
</div>

<div>
<form action="/recharge/7" method="post">
  <label for="recharge">Enter A or B:</label>
  <input name="recharge" placeholder="" type="text" value="<%= params[:recharge] %>">
  <button type="submit">Submit</button>
</form>
</div>

<div><%= session[:recharge] %></div>