<div>
  <h2>When you meet someone for the first time:</h2>
    <ol type="A">
      <li>You usually do most of the talking</li>
      <li>You usually do most of the listening</li>
    </ol>
</div>

<div>
<form action="/recharge/3" method="post">
  <label for="recharge">Enter A or B:</label>
  <input name="recharge" placeholder="" type="text" value="<%= params[:recharge] %>">
  <button type="submit">Submit</button>
</form>
</div>

<div><%= session[:recharge] %></div>