<div>
  <h2>You're more likely to recharge your batteries by:</h2>
    <ol type="A">
      <li>Getting some alone time</li>
      <li>Going out with a group of friends</li>
    </ol>
</div>

<div>
<form action="/recharge" method="post">
  <label for="list_name">Enter A or B:</label>
  <input name="list_name" placeholder="" type="text" value="">
  <button class="submit-button" type="submit">Submit</button>
</form>
</div>