<div>
  <% if count_choice('A') > count_choice('B') %>
    <h2 class="result">You are an Extrovert</h2>
  <%elsif count_choice('A') < count_choice('B')%>
    <h2 class="result">You are an Introvert</h2>
  <%else%>
    <h2 class="result">You are an Ambivert</h2>
  <% end %>
</div>

<div class="results">
  <%= result_text(@result) %>
</div>

<div class="results-btn-container">
  <a class="restart-button" href="/">Start again</a>
</div>